<launch>

    <include file="$(find bluerov_sim)/launch/gazebo_base.launch"/>

    <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
        <arg name="z" value="-0.2"/>
        <arg name="x" value="0.5"/>
        <arg name="y" value="2.0"/>
        <arg name="Y" value="1.57"/>
    </include>

    <include file="$(find bluerov_sim)/launch/spawn_tank.launch">
    </include>
    <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py" output="screen" />
    <node name="mixer" pkg="bluerov_sim" type="mixer.py" />

</launch>
