<launch>
    <!-- Vehicle spawn position so that tags are seen -->
    <arg name="x" default="0.7"/>
    <arg name="y" default="2.0"/>
    <arg name="z" default="-0.7"/>
    <arg name="P" default="0.0" />
    <arg name="R" default="0.0" />
    <arg name="Y" default="1.57"/>

    <include file="$(find bluerov_sim)/launch/gazebo_base.launch"/>

    <include file="$(find bluerov_sim)/launch/spawn_tank.launch">
    </include>

    <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" default="$(arg R)" />
        <arg name="P" default="$(arg P)" />
        <arg name="Y" default="$(arg Y)" />
    </include>

    <!-- "External" localization for vision yaw fusion in PX4's EKF2 -->
    <node name="ext_localization" output="screen" pkg="bluerov_sim" type="external_localization.py" />

    <!--Our Range Sensor Package that publishes distances to tags -->
    <include file="$(find range_sensor)/launch/range_sensor.launch">
    </include>

    <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py" output="screen" />
    <node name="mixer" pkg="bluerov_sim" type="mixer.py" />
</launch>
