<launch>
    <arg name="est" default="ekf2" />
    <arg name="vehicle" default="uuv_bluerov2_heavy" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find freefloating_gazebo)/world/underwater.world" />
        <arg name="verbose" value="true" />
    </include>

    <group ns="uuv00">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0" />
        <arg name="fcu_url" default="udp://:14540@localhost:14580" />
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
            <arg name="x" value="0.3" />
            <arg name="y" value="0.3" />
            <arg name="z" value="0" />
            <arg name="R" value="0" />
            <arg name="P" value="0" />
            <arg name="Y" value="1.57" />
            <arg name="vehicle" value="$(arg vehicle)" />
            <arg name="mavlink_udp_port" value="14560" />
            <arg name="mavlink_tcp_port" value="4560" />
            <arg name="ID" value="$(arg ID)" />
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))" />
            <arg name="tgt_component" value="1" />
        </include>
    </group>
</launch>
